---
import { getCollection } from "astro:content";
import IntererContent from "../components/IntererContent.astro";
import InteriorHero from "../components/InteriorHero.astro";
import DefaultLayout from "../layouts/Default.astro";
import Cards from "../components/Cards";
import Tag from "../components/Tag";
import { getColorPosition,getColorCat } from "../../utils/postUtil";
import { motion } from "framer-motion"; 
const positions =await getCollection("positions");
---







<DefaultLayout>
    <InteriorHero>
        <p class="uppercase font-extrabold text-center text-zinc-500 tracking-wider">Join the team</p>
        <h1 class="font-black text-5xl md:text-6xl lg:text-7xl nt-4 text-center font-heading">We are hiring</h1>
        <p class="text-center text-xl md:text-2xl mt-6 max-w-xl mx-auto text-zinc-400">We are always looking for talented individuals passionet about building blockchain products that make a diffrence.</p>
    </InteriorHero>
    <IntererContent>
        <div class="flex flex-col gap-12">
            {positions.map((position:any) => {
                const { title, type, description, remote, category } = position.data || {};
        
                return (
                    <motion.a 
                    client:load
                    initial={{opacity:0,y:20}}
                    whileInView={{opacity:1,y:0}}
                    viewport={{once:true,amount:0.5}}
                    transition={{duration:0.5,ease:'easeIn'}}
                    href="/contact" key={title}>
                        <Cards color={getColorCat(category)} buttonText="Apply Now">
                            <div class="flex items-center gap-3 ">
                                {remote && <Tag category="Remote" />}
                                <Tag category={type} color={getColorPosition(type)} />
                            </div>
                            <h2 class="text-3xl font-heading font-black mt-6">{title}</h2>
                            <p class="text-xl text-zinc-400 mt-4">{description}</p>
                        </Cards>
                    </motion.a>
                );
            })}
        </div>
        
    </IntererContent>
</DefaultLayout>


